body {
    font-family: 'Kodchasan', sans-serif;
    background-color: #9391CC;
    color: white;
}

h1 {
    position: relative;
    top: 30px;
    left: 50px;    
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    font-size: 40px;
    font-weight: 10;
}

h2 {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    font-size: 40px;
    font-weight: 10; 
    position: relative;
    left: 50px;    
    top: 10px;
}

